<div class="container">
  <div class="page">
    <div class="container">
      <div class="row">

        <div class="entry col-md-4 col-md-offset-4">

        <div class="entry-social">

          <button class="btn" id="entry-google" name="google">
            <i class="icon-google-plus"></i> Sign  with Google
          </button>

          <button class="btn" id="entry-facebook" name="facebook">
            <i class="icon-facebook"></i> Sign  with Facebook
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
